body {
    background-image: url('https://raw.githubusercontent.com/oscarayala512/Formulario_arbolado/e57df8b11736d371859c5e096e3773b617aefdf2/img/arbol.jpeg');
    background-size: cover;
    background-position: center;

    background-image: url('https://raw.githubusercontent.com/oscarayala512/Formulario_arbolado/e57df8b11736d371859c5e096e3773b617aefdf2/img/arbol2.jpeg');
background-size: 30%; /* Ajusta el tamaño de la imagen */
background-position: right center; /* Coloca la imagen al costado derecho y centrada verticalmente */

    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h2 {
    color: #333;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 50px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
}

.btn:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}
